<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="Software Engineer. JavaScript. Ruby. Rails.">
	<meta name="author" content="Tian Davis">
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/docs.css">
	<link rel="stylesheet" href="/stylesheets/syntax.css">

	<!-- Favicon
	================================================== -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

</head>
<body data-twttr-rendered="true">
			<div class="container">
				<div class="three columns sidebar">
					<nav>
						<h3 id="logo">Spartan</h3>
						
						<ul>
							<li class="icon blog"><a href="/">Blog</a></li>
							<li class="icon email"><a href="hello@tiandavis.com">Email</a></li>
							<li class="icon twitter"><a href="https://twitter.com/tiandavis">Twitter</a></li>
							<li class="icon github"><a href="https://github.com/tiandavis">Github</a></li>
						</ul>
					</nav>
					&nbsp;
				</div>
				
				<div class="twelve columns offset-by-one content">
					{{ content }}
				</div>
					
			</div><!-- container -->

			<div class="resize"></div>
	
</body></html>