---
layout: default
---

<section id="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
	
    <div class="feat">
      <h5 class="page-date">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date_to_long_string }}
        </time>
      </h5>
    </div>

    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>

    <div itemprop="articleBody">
      {{ content }}
    </div>

    <!--<div id="share" class="feat">
      <a href="http://twitter.com/share" class="popup">
        <span class="icon-twitter"></span>
      </a>
    </div>-->

    {% if page.next %}
      <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">
        <span class="nav-title nav-title-next">newer</span> &rarr;
      </a>
    {% endif %}

    {% if page.previous %}
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" id="prev">
        &larr; <span class="nav-title nav-title-prev">older</span>
      </a>
    {% endif %}
  </article>
</section>


<div style="text-align: center;">
	<a href="http://techoctave.com?referrer=tiandavis" alt="JavaScript Charts & Gauges for the sophisticated developer." title="JavaScript Charts & Gauges for the sophisticated developer.">
		<img src="http://techoctave.com/c7/images/ads/bubble-chart.png" width="110" height="110" alt="JavaScript Charts & Gauges for the sophisticated developer." title="JavaScript Charts & Gauges for the sophisticated developer."/>
	</a>
			
	<p style="line-height: 1.5em; color: #181818; font-size: .8em;"><a href="http://techoctave.com?referrer=tiandavis" style="color: #181818;" alt="JavaScript Charts & Gauges for the sophisticated developer." title="JavaScript Charts & Gauges for the sophisticated developer.">JavaScript Charts & Gauges</a> <br> for the sophisticated developer.</p>
</div><!--affiliates-->
