---
layout: posts
---

<section id="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
	
    <div class="feat">
      <h5 class="page-date">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date_to_long_string }}
        </time>
      </h5>
    </div>

    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    
    <h5 class="page-author">Handwritten by {{ page.author }}</h5>

    <div itemprop="articleBody">
      {{ content }}
    </div>
    
    <div id="share" class="feat">      
      <p>discuss on twitter</p>
      
      <a href="http://twitter.com/share" class="popup">
        <span class="icon-twitter"></span>
      </a>
      
      <div class="line"></div>
      
      <br/>
      
      <p><a href="/thoughts/" style="text-decoration: none;">← return to all articles</a></p>
    </div>
    
  </article>
</section>


